<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="description" content="a blog">
	<title>{{ title }}</title>
	<link rel="stylesheet" href="/static/css/bootstrap.css">
	<link rel="stylesheet" href="/static/css/blog.css">
	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/vue.min.js"></script>
	<script src="/static/js/bootstrap.js"></script>
</head>

<body>
	<div class="container title-logo">
		<div class="row">
			<div class="col-md-8">
				<h1 class="blog-title">Blog 标题</h1>
			</div>
		</div>
	</div>
	<div class="navigation">
		<div class="container">
			<nav class="blog-nav">
				<a class="blog-nav-item" href="/">Home</a>
				<a class="blog-nav-item" href="/archive">Archive</a>
				<a class="blog-nav-item" href="/about">About</a>
			</nav>
		</div>
	</div>
	{% block main %} {% endblock %}
	<footer id="blog-footer">
		<p>Copyright © 2016 - 2016 . All Rights Reserved . Created by Pbin . Powered by Bootstrap . </p>
	</footer>
</body>

</html>