{% extends "base.html" %} {% block main %}
<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-2">
			<h1>{{title | e}}</h1>
		</div>
	</div>
	<div class="row">
		{% block leftsidebar %} {% include "left-sidebar.html" ignore missing %} {% endblock %}
		<div class="col-md-10">
			<h3>Post</h3>
			<p>xinaien dosenx id eion dlsn eosn!!</p>
			{% for article in articles %}
			<div class="article">
				<h3><a href="/article/{{ article.id }}">{{ article.title | e}}</a></h3>
				<small>作者:{{ article.name | e}}</small>
				<small><span>阅读: {{ article.pv }}</span> <span>评论: {{ article.cl }}</span></small>
				<div>
					{{article.post}}
				</div>
				{% if user and (user.name == article.name) %}
				<div class="tags">
					{% for tag in article.tags %}
					<span><a href="/tag/{{ tag }}">{{ tag }}</a></span>
					{% endfor %}
				</div>
				<div>
					<span><a href="/edit/{{ article.id }}">编辑</a></span> <span><a href="/delete/{{ article.id }}">删除</a></span>
				</div>
				{% endif %}
			</div>
			{% endfor %}
			<div class="row">
				<ul class="pagination">
					{% if not isFirstPage %}
					<li><a href="/?p={{ currentPage - 1 }}">&laquo;</a></li>
					{% endif %} {% for i in pageList %} {% if i == currentPage %}
					<li class="active"><a href="/?p={{ i }}">{{ i }}</a></li>
					{% else %}
					<li><a href="/?p={{ i }}">{{ i }}</a></li>
					{% endif %} {% endfor %} {% if not isLastPage %}
					<li><a href="/?p={{ currentPage + 1 }}">&raquo;</a></li>
					{% endif %}
				</ul>
			</div>
		</div>
	</div>
</div>
{% endblock %}