{% extends "base.html" %} {% block main %}
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <ul style="font-size:18px">
                <p style="font-size:30px">{{ tag }}</p>
                {% for article in articles%}
                <li><a target="_blank" href="/article/{{ article.id }}">{{ article.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% include "right-sidebar.html" ignore missing %}
    </div>
</div>
{% endblock %}